
<h1>Your Transaction has been successful. Below are the details!!!!!</h1>

<br>
<br>


<h2>Transaction Validation</h2>
  @ViewBag.validationResponse

             
<br>
<br>
<br>


<h2>Transaction Details </h2>
@ViewBag.txndetailResponse 